extends layout

block content  	
	section
		form(method='post')			
			label NIT:
			input(name='id')
			br
			label Nombre:
			input(name='nombre')			
			br
			label Direccion:
			input(name='direccion')
			br
			label Teléfono:
			input(name='telefono')			
			br
			label Correo:
			input(name='correo')
			br
			input(type='submit', value='Guardar')