extends layout

block content  	
	section
		form(role="form" method='post')			
			if organizacion.length == 0
				p No existen organizaciones en la base de datos
			else
				.form-group			
					label Nombre:
					input.form-control(name='nombre', value='#{organizacion[0].nombre}')		
					br
				.form-group
					label Direccion:
					input.form-control(name='direccion', value='#{organizacion[0].direccion}')
					br
				.form-group
					label Teléfono:
					input.form-control(name='telefono', value='#{organizacion[0].telefono}')
					br
				.form-group
					label Correo:
					input.form-control(name='correo', value='#{organizacion[0].correo}')
					br
				input.btn.btn-default(type='submit', value='Actualizar')