extends layout

block content  	
	section
		form(role="form" method='post')
			.form-group			
				label NIT:
				input.form-control(name='id')
				br
			.form-group
				label Nombre:
				input.form-control(name='nombre')		
				br
			.form-group
				label Direccion:
				input.form-control(name='direccion')
				br
			.form-group
				label Teléfono:
				input.form-control(name='telefono')		
				br
			.form-group
				label Correo:
				input.form-control(name='correo')
				br
			input.btn.btn-default(type='submit', value='Guardar')